USE [master]
GO
/****** Object:  Database [itsolution20251]    Script Date: 1/29/2026 5:09:13 PM ******/
CREATE DATABASE [itsolution20251]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'itsolution20251', FILENAME = N'c:\databases\itsolution20251\itsolution20251.mdf' , SIZE = 8192KB , MAXSIZE = 20971520KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'itsolution20251_log', FILENAME = N'c:\databases\itsolution20251\itsolution20251_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [itsolution20251].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [itsolution20251]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/29/2026 5:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [email], [name]) VALUES (2, N'nguyenvanb@gmail.com', N'Nguyen Van C')
INSERT [dbo].[students] ([id], [email], [name]) VALUES (3, N'nguyenvand@gmail.com', N'nguyen van d')
INSERT [dbo].[students] ([id], [email], [name]) VALUES (7, N'nguyenvana@gmail.com', N'Nguyen Van A')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
USE [master]
GO
